.about-header {
    height: 100vh;
}

body {
    overflow: hidden;
}

.scroller {
    height: 200px;
    text-align: left;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.back {
    font-family: FontAwesome;
    color: #a0a0a0;
    padding-top: 3px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.back.btn-sm {
    padding: 3px 3px !important;
    height: 27px;
    width: 27px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.back:before {
    content: "\f060";
}