.about-header {
    height: 100vh;
}

body {
    overflow: hidden;
}

.search-result {
    margin-top: 20px;
}

.has-result {
    margin-top: 40px !important;
}

.search-result-body {
    height:200px;
    text-align: left;
}