.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none;
    margin-left: 0;
    padding: 0;
    display: inline;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
    background-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, transparent 0%, transparent 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, transparent 0%, transparent 100%);
    /* W3C */
}